@model ZambaFarm.Models.Rabbit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rabbit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPregnant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPregnant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNursing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNursing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mother)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mother.RabbitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RabbitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
